#!/bin/bash

sudo apt install tmux -y

# Make git core.pager better
git config --global core.pager "less -eFRX"

# Ensure wee-tmux.conf is sourced in default ~/.tmux.conf
if ! grep -qF "etmux.conf" ${HOME}/.tmux.conf; then
	echo "source ${HOME}/.basher/cellar/packages/chetanc10/etmux/etmux.conf" >> ${HOME}/.tmux.conf
fi
